.Card--container {
  max-width: 600px;
  margin: 10px auto;
  background-color: aliceblue;
  border: 1px solid gray;
  display: grid;
  grid-template-areas:
    ". . name . . "
    "films films . birth height"
    "films films . gender species";
}

.Card--container:hover {
  background-color: blanchedalmond;
  cursor: pointer;
}

.Card--name {
  grid-area: name;
}

.Card--films {
  grid-area: films;
}

.Card--birth {
  grid-area: birth;
}

.Card--height {
  grid-area: height;
}

.Card--gender {
  grid-area: gender;
}

.Card--species {
  grid-area: species;
}
