.Card {
    box-sizing: border-box;
    border: 2px solid black;
    width: 50%;
    opacity: .5;
    padding: 10px;
}

.Card:hover {
    opacity: 1;
    color: white;
    font-weight: bold;
}

.Card-Info-Block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Card-Info-Item {
    width: 50%;
}



