.list{
    background: white;
    width: 50%;
}

p{
    font-size: 16px;
}

.character{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    background: #bec5cb;
  }

