.InfoCard {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  background: rgba(79, 61, 47, 0.8);
  color: lightblue;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  border: 1px solid lightblue;
  box-shadow: 3px 3px rgba(0,0,0,0.5);
  margin: 3px;
  padding: 5px;
  width: 300px;
}

.InfoCard:hover {
  background: rgb(38, 63, 63);
}