.image{
  height: 141px;
  /* border: 1px solid red; */
  width: 105px;
}

.image:hover{
  border-bottom: 3px solid white;
}

.darth{
  background: url('./img/characters/darth.png') no-repeat center center;
}
.luke{
  background: url('./img/characters/luke.png') no-repeat center center;
}
.c3po{
  background: url('./img/characters/c3po.png') no-repeat center center;
}
.obi{
  background: url('./img/characters/obi.png') no-repeat center center;
}
.r2d2{
  background: url('./img/characters/r2d2.png') no-repeat center center;
}
.leia{
  background: url('./img/characters/leia.png') no-repeat center center;
}
.char-image-container{
  display: flex;
  justify-content: space-evenly;
}

.selected{
  border-bottom: 3px solid skyblue;
}