html { 

  background: url('./images/rm-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
