.PlayerCard {
	background-color: white;

	width: 350px;
	/*height: 500px;*/

	margin: 25px;

	display: flex;
	flex-direction: column;
	/*align-items: center;*/
}

.PlayerCard-Header {
	margin: 10px;
	align-self: center;
}

.PlayerCard-body {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.PlayerInfo {

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	/*align-items: center;*/
}

.PlayerInfo__descriptions {
	margin-left: 35px;
	width: 70px;

}

.PlayerInfo__boxR {
	height: 17px;
	margin-right: 4px;

	display: flex;
	align-items: center;
	justify-content: flex-end
}

.PlayerInfo__values {
	justify-content: flex-start;
	align-items: center;
}

.PlayerInfo__boxL {
	height: 17px;

	display: flex;
	align-items: center;
}

.PlayerInfo__boxL-color {
	display: inline-block;
}

.PlayerPicture {
	display: flex;
	/*align-items: center;*/
	/*justify-content: center;*/
}

.PlayerPicture img {
	width: 150px;
	height: 150px;
	object-fit: contain;
	margin-left: 15px;
}

.PlayerInfo--detailed {
	margin: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.Vehicle--header {
	margin-bottom: 4px;
}

.PlayerVehicles {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.PlayerInfo--detailed-item {
	/*margin: 10px;*/
	/*width: 150px;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.VehicleText {
	width: 100px;
	margin-right: 10px;
	text-align: right;
}

.VehiclePicture {
	margin-left: 10px;
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.PlayerCard-Footer {
	margin: 10px;
}