.char-card {
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}



.hovereffect .card-body {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}




.hovereffect:hover .card-body {
    -ms-transform:scale(0.9);
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.starwars-cont {
    display:flex;
    justify-content: 
}