.Image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 2rem;
  animation: popin 400ms ease-in-out forwards;
}

@keyframes popin {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  80% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
