.Cardcontainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #f7f7f7cc;
    margin: 20px;
}
.Cardcontainer__header{
    width: 100%;
    height: 10%;
    padding-left:10px;
    padding-top:10px;
    box-sizing: border-box;
    border-bottom: 1px solid #f7f7f7cc;
}
.Cardcontainer__body{
    width: 100%;
    padding:10px;
    font-size: 15px;
    box-sizing: border-box;
}
.Cardcontainer__bodyitem{
    width: 100%;
    height: 20%;
    text-align: left;
    margin-bottom: 10px;
}