.card__mainContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 600px;
    background-color: lightgrey;
    padding: 10px;
}

.card__header {
    
}

.card__body {
    margin: 10px;
}

.card__footer {

}