.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  width: 100%;
}
/* write your parent styles in here for your App.js */
