.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-size: 48px;
  margin: 20px 0;
  
}
/* write your parent styles in here for your App.js */
