.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-size: 6rem;
}
/* write your parent styles in here for your App.js */

.cards-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.card {
  width: 50%;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}
