.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
