.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-size: 5.2rem;
}
/* write your parent styles in here for your App.js */

@import './variables';

.next-button {

  position: fixed;
  top: 50%;
  right: 10px;
  border: 1px solid black;
  background-color: white;
  padding: 20px 40px;
  border-radius: 40%;
  cursor: pointer;

  &:hover {

    background-color: #ccc;

  }

  @media (max-width: $mobile) {

    padding: 20px 10px;

  }

}

.previous-button {

  position: fixed;
  top: 50%;
  left: 10px;
  border: 1px solid black;
  background-color: white;
  padding: 20px 40px;
  border-radius: 40%;
  cursor: pointer;

  &:hover {

    background-color: #ccc;

  }

  @media (max-width: $mobile) {

    padding: 20px 10px;

  }

}

.load {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: rgba(147, 104, 16, 0.5);
  width: 315px;
  border: 1px solid black;
  border-radius: 10px;
  color: white;

}

.invisible {

  display: none;

}
