.App {
  text-align: center;
  width:90%;
  margin: 40px auto;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.charList {
	display: flex;
	justify-content: flex-start;

	background: red;
}
