.App {
  text-align: center;
  display: flex;
  
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.main {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.character-information {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  border-left: 2px solid gray;
}