.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
  max-width: 880px;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

