.App {
  /* text-align: center; */
  display: flex;
  justify-content: flex-start;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  margin: 5px;
  font-size: 4rem;
}
/* write your parent styles in here for your App.js */
