.App {
  text-align: center;
}
.Header {
  color: red;
  text-shadow: 1px 1px 5px #fff;
  background: whitesmoke;
  width: 200px;
  height: 50px;
  border: red 2px solid;
  margin-left: 40%;
  margin-top: 20%;
  font-style: oblique ;
  font-family: fantasy;

}
/* write your parent styles in here for your App.js */
