/* DEV STYLES */
.TestTextYellow {
  /* background-color: rgb(182, 90, 90); */
  /* height: 14px;
  padding: 20px; */
  width: 30%;
  margin: 3 auto;
  color: yellow;
}

.TestTextYellowGreen {
  background-color: rgba(59, 88, 112, 0.76);
  /* height: 14px;
  padding: 2px; */
  width: 30%;
  margin: 3 auto;
  color: yellowgreen;
}

/* RUNTIME STYLES */
.App {
  text-align: center;
}
.Char-container {
  display: inline-block;
  width: 30%;
  margin: 0 auto;
  text-align: left;
  background: lightcyan;
    /* 
	margin: 10px;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;
	width: 150px;
  padding: 10px 20px 10px 20px;
  background: lightcyan;
  color: black;*/
}

.Card-row {
  display: inline-flex;
  justify-content: flex-start;
	margin: 10px;
	/* border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc; */
	/* width: 70%; */
	/* padding: 20px; */
}

.Card-item {
  display: inline-block;
	margin: 10px;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;
	width: 150px;
  padding: 10px 20px 10px 20px;
  background: lightcyan;
  color: black;
}
.Card-body{
  background-color: rgba(81, 187, 236, 0.329);
  height: 150px;
  width: 175px;
  margin: 0px 10px 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 11pt;
  color: black;
  text-align: center;
}


/* EXTRAS */
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
/* FROM LS-NOTES_APP.CSS */
.Body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Container {
  width: 100%;
  /* DD FFC */
  display: flex;
  direction: row;
  height: 100% !important;

}
.Nav-Panel, .Notes-Panel {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: space-between;
  padding: 10pt;

}

.Nav-panel {
  width: 15%;
  padding: 5pt;
  background-color: darkgrey;

  /* TURN OFF BEFORE BUILD */
  /* border-style: solid; */
  border-width: 2px;
  border-color: blue;
}

.Notes-panel {
  /* FFC */
  width: 100%;
  padding: 5pt;

  /* TURN OFF BEFORE BUILD */
  /* border-style: solid; */
  border-width: 2px;
  border-color: red;
  
  /* DD */
  display: "inline-block";
  /* background: lightgrey; */

}

.View-header {
  background-color: rgb(182, 90, 90);
  height: 50px;
  padding: 20px;
  color: white;
}

.Note-row {
  display: inline-flex;
  justify-content: flex-start;
	margin: 10px;
	/* border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc; */
	/* width: 70%; */
	/* padding: 20px; */
}

.Note-item {
  display: inline-block;
	margin: 10px;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;
	width: 150px;
  padding: 10px 20px 10px 20px;
  background: lightcyan;
  color: black;
}

.Note-header {
  background-color: rgb(14, 124, 158);
  height: 20pt;
  width: 175px;
  margin: 10px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
  text-align: center;
}

.Note-body {
  background-color: rgba(81, 187, 236, 0.329);
  height: 150px;
  width: 175px;
  margin: 0px 10px 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 11pt;
  color: black;
  text-align: center;
}

.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display:  block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.btn-NavButton {
  display: flex;
  direction: row;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  align-items: center;
  
  padding: 2px;
  width: 140px;
  height: 35px;
  margin: 5px;
  /*margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;*/
  line-height: 30px;
  
  /*border: solid 1.5px #888f91;*/
  /*border-radius: 5%;*/
  /*border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-right-radius:  30%;
  border-bottom-left-radius:  30%;*/
  box-shadow: 20%;


  background: rgb(14, 124, 158);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* END LS-NOTES_APP.CSS */

/* OTHER CSS BELOW */
/* .Character {

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.note {
	display: inline-block;
	margin: 10px;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;
	width: 200px;
	padding: 20px;
}

.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display:  block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
} */