
/* DEV STYLES */
.TestTextYellow {
  /* background-color: rgb(182, 90, 90); */
  /* height: 14px;
  padding: 20px; */
  width: 30%;
  margin: 3 auto;
  color: yellow;
}

.TestTextYellowGreen {
  background-color: rgba(59, 88, 112, 0.76);
  /* height: 14px;
  padding: 2px; */
  width: 30%;
  margin: 3 auto;
  color: yellowgreen;
}


/* RUNTIME STYLES */
  .App {
    text-align: center;
  }
  .Header {
    color: #443e3e;
    text-shadow: 1px 1px 5px #fff;
    color: goldenrod;
    font-weight: bolder;
  }
  /* write your parent styles in here for your App.js */
  .Subheader {
    color: blue;
    font-style: oblique;
  }
.Char-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

	/* width: 150px; */
  padding: 10px 20px 10px 20px;
	margin: 10px;
  text-align: left;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;

  /* background: lightcyan; */
  color: black;
}

.card {
  width: 30%;
  margin: 10px;
  padding: 2px;
  background-color: coral;
}
/* rem 'root em' unit is based on font size */

.Card-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
	margin: 10px;
	/* border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc; */
	/* width: 70%; */
	/* padding: 20px; */
}

.Card-item {
  display: inline-block;
	margin: 10px;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;
	width: 150px;
  padding: 10px 20px 10px 20px;
  background: lightcyan;
  color: black;
}
/* .Card-body{
  background-color: rgba(81, 187, 236, 0.329);
  height: 150px;
  width: 175px;
  margin: 0px 10px 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 11pt;
  color: black;
  text-align: center;
} */

.Body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Container {
  width: 100%;
  /* DD FFC */
  display: flex;
  direction: row;
  height: 100% !important;

}
/* ☞ df4bdfdd-41eb-434b-b0ed-dcccf290e50f */
/* ADDITIONAL STYLES */