.App {
  text-align: center;
}
* {
  color: gold;
}
/* write your parent styles in here for your App.js */

#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titlecontent
{
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 2s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

h3 {
	text-align: center;
}