.App {
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-family: 'Courier New', Courier, monospace
}

.Card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: white;
  border-radius: 5px;
  

}
/* write your parent styles in here for your App.js */
