.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
/* https://image.ibb.co/idVsJe/starwars.png */
/* https://media.giphy.com/media/gdqPWRwCVhWq4/giphy.gif */
.header {
  background-image: url('https://images4.alphacoders.com/814/thumb-1920-81446.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  margin:0 auto;
  width:100%;
  height:105vh;


}
.nav {
  height: 5px;
  /* background-image: url('https://wallpapercave.com/wp/gfwPusm.jpg') */
  background: black;
}


.hamburger {
  margin: 5px 10px 0px 1050px;
  background: transparent;
  border: gray;
  padding: 15px 15px 15px 15px;
  color: #FFD700;
} 
@font-face {
  font-family: DeathStar;
  src: url("./DeathStar.otf") format("opentype");
}

@font-face {
  font-family: DeathStarOutlines;
  src: url("./DeathStarOutlines.otf") format("opentype");
}

.in-between {
  width: 100%;
  height: 600px;
  background-image: url(' https://media.giphy.com/media/xTiQyKnqAjwCJ2vdUQ/giphy.gif ');
 
  background-repeat: no-repeat;
  background-size: cover; 
}

.in-between h2 {
  font-family: 'DeathStarOutlines';
  color: white;

}

.character-cards {
  color: brown;
}
.character-card {
 
  background: black;
  width: 100%;
}

 
.card {
  border: 1px solid white;
  border-radius: 2px;
  text-align: center;
  padding-bottom: 10px;
} 

.card .character-name {
  font-family: 'DeathStarOutlines';
  color: #FFD700;
  font-size: 3rem;
  letter-spacing: 5px;
}

.card p {
  font-family: 'Montserrat';
  color: white;
  letter-spacing: 8px;
  font-size: 15px;

}


.buttons {
  display: flex;
  justify-content: center;
  background: black;
}
.button-previous{ 
  padding-right: 80px;
}


.button-next h2{
  font-size: 2rem;
  color: #FFD700;
  font-family: 'DeathStarOutlines';

}


.button-previous h2{
  font-size: 2rem;
  color: #FFD700;
  font-family: 'DeathStarOutlines';
  
}

@media screen and (max-width: 600px) {
  .header{
    width: 600px
  }

  .in-between {
    width: 600px

  }

  .nav {
    width: 600px
  }

  .hamburger {}

}

@media screen and (max-width: 400px) {
  .header{
    width: 400px
  }

  .in-between {
    width: 400px

  }

  .nav {
    width: 400px
  }

}