.App {
    text-align: center;
}

.Header {
    color: #443e3e;
    text-shadow: 1px 1px 5px #fff;
}

/* write your parent styles in here for your App.js */

.data {
    
    flex-wrap: wrap;
    
}

button {
    width: 50%;
    height: 50px;
    color: #fff;
    font-size: 25px;
    margin: 0 auto;
    background-color: maroon;
    border-radius: 10%;
}