.App {
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
