.App {
	text-align: center;
}
.Header {
	color: #443e3e;
	text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 650px;
	height: 400px;
	padding-left: 10px;
	margin: 50px auto;
	background-color: #ffdf00;
	border-radius: 10px;
	box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}
