.App {
  text-align: center;
}
.Header {
  color: #fade37;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-family: "Oswald";
  font-size: 70px;

  letter-spacing: 8px;
}
.char-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* write your parent styles in here for your App.js */
