.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.center {
  /* display: flex;
  justify-content: center; */
  width: 100%;
}