.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
button {
  width:20%;
  margin-right:50px;
  padding:50px;
  font-size: 25px;
  background-color:whitesmoke;
  text-align: center;
  font-weight:bold;
}

.hide {
  display:none;
}