.App {
  text-align: center;
}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}
/* write your parent styles in here for your App.js */
