.App {
  text-align: center;
  display:flex;
  flex-flow: column;
  align-items: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.Cards {
  display:flex;
  flex-flow: wrap;
  width: 90%;
}