.CharContainer {
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.Char {
  display: inline-table;
  border: 0.5px solid gray;
  margin: 15px;
  padding: 30px;
  background-color: rgb(180, 192, 192);
}

.Details {
  text-align: left;
  margin: 5px;
}

