.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

.card-content{
    width: 300px;
    margin: 20px;
}

.name{
    border-bottom: 2px solid black;
}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}