.card{
    width: 300px;
    height: auto;
    
}
.card-wrapper{
    flex-wrap: wrap;
    margin: 10px;
    border: 2px solid darkolivegreen;
    height: auto;
}

.card h2 {
    padding: 10px;
    text-align: center;
}

.card p {
    padding: 0px 20px;
}