.cardContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}

.card {
	color: #00ACED;
	width: 70%;
	margin: 20px 0;
	background-color: #778899;
}

.Navtabs {
	background-color: #778899;
}

.listData {
	color: black;
}