/* /* .Character-Card {
    border: 1px solid grey;
    min-width: 200px;
    margin: 0.4rem;
    padding: 2px;
  } */
/* 
  .Character-Wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    padding: 2px;
    margin: 100px;
  }  */
