.man-div {
    margin: auto;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    text-align: center; 
    width: 20%;
    height: 20%;
    border: 1px solid red;
}

.card-body {
    text-align: center;
    width: 100%;
}

/* .Character-Wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    margin: auto;
}
  
.Card-Body {
    border: 1px solid grey;
    width: 200px;
    margin: 0.4rem;
    padding: 2px;
}

.Friend-Card {
    width: 200px;
    margin: auto;
}

.Card-Title {
    color: solid red;
}

.Card-Body {
    min-width: 200px;
    margin: 0.4rem;
    padding: 2px;
} */