.container {
  margin: 40px;
  height: 400px;
  width: 40%;
  background-color: rgb(120, 154, 177);
  border: 2px solid black;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
}

.container__topRow {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 25px;
}

.container__middleRow {
  margin: 0 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.container__middleRow img {
  height: 225px;
  width: 225px;
  border: 1px solid black;
  border-radius: 10%;
}

.container__middleRow-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Garamond;
  font-size: 30px;
}

.container__bottomRow {
  display:flex;
  justify-content: space-around;
  padding-bottom: 20px;
}