.container {
  margin: 40px;
  height: 400px;
  width: 40%;
  background-color: rgb(120, 154, 177);
  border: 2px solid black;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
}

.container__topRow {
  display: flex;
  justify-content: space-around;
}

.container__middleRow {
  flex: 1;
}

.container__bottomRow {
  display:flex;
  justify-content: space-around;
}