/* .People-Wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    margin: auto;
} */
  
.Card-Body {
    border: 1px solid grey;
    width: 200px;
    margin: 0.4rem;
    padding: 2px;
}

.Friend-Card {
    width: 200px;
    margin: auto;
}

.Card-Title {
    color: solid red;
}

.Card-Body {
    min-width: 200px;
    margin: 0.4rem;
    padding: 2px;
}