body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}