* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
}

