body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background: url('./sw-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
