@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700i|Source+Sans+Pro&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
}
#root {
  width: 100vw;
  height: 100vh;
  color: #2a2223;
  margin: 0;
}
h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  margin: 0;
}
h2 {
  color: #474747;
  font-size: 25px;
  background: #d67655;
  margin: 0;
  padding: 10px;
}
.peopleInfo {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 20px auto;
  max-width: 900px;
}
.main-card {
  background: #eacec4;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
p {
  padding: 10px;
}
p:nth-child(2) {
  padding: 10px;
  font-size: 18px;
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: no-wrap;
  overflow: hidden;
  max-height: 10em;
  line-height: 1.2em;
}