body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./sw-bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
