body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
