.People-Wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  margin: auto;
}

.card {
  display: flex;
  flex-wrap: wrap; 
  margin: 20px; 
  background-color: lightgray;  
  opacity: .7;

}

.cardBody {
  border: 1px solid blue;  
  min-width: 200px;   
  margin: 0.4rem;
  padding: 2px;
}

.cardTitle {
  font-weight: 500px;
  opacity: 1;
  color: darkmagenta;
}

.button {
  background-color: lightsalmon;
}
