.Starwars-container{
    display:flex;
    flex-wrap: wrap; 
   
}
.Starwars-cards{
    flex-direction: column;
    border: 1px black solid;
}
.Starwars-element {
    margin:15px;
    width: 1000px;
}