.Starwars-container{
    display:flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: flex-start;
}
.Starwars-element {
    font-size: 20px;
    font-weight: bolder;
}
.Starwars-cards{
    width: 200px;
}
.Starwars-element {
    margin:15px;
    width: 1000px;
}