.Character {
    background-color: #e6e6e6;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 1% 25%;
    padding: 1% 0;
    border: solid;
    border-color: black;
    border-radius: 25px;
    border-width: thin;
    opacity: 0.7;
}

.show-grid {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    width: 100%;
}

.Grid {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin-top: 5px;
    width: 100%;
}

.col {
    text-align: start;
    width: 50%;
    margin-left: 15%;
    font-size: large;
}

.Name {
    font-weight: bold;
    font-size: xx-large;
}