.nav {
    text-align: center;
    opacity: .7;
    width: 100vw;
    height: 4em;
    background: #000;
}

.nav-item {
    font-weight: bolder;
    text-align: center;
    opacity: 1 !important;
    margin-top: .7rem;
  }