.nav {
    text-align: center;
    opacity: .5;
    width: 100vw;
    height: 4em;
    background: #7e7a8f;
}

.nav-item {
    font-weight: bolder;
    text-align: center;
    opacity: 1 !important;
    margin-top: .7rem;
    cursor: pointer;
  }