.cardWrap {
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .cardWrapper {
    margin: 5px;
    flex-wrap: wrap;
    background-image: url('sw-bg.jpg');
    opacity: 0.8;
    width: 440px;
    border-radius: 1em;
    border: 4px solid rgb(252, 252, 252);
  }
  
  .cardCol {
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .justifyR {
    text-align: right;
    width: 50%;
  }
  
  .justifyL {
    text-align: left;
    width: 50%;
    margin-left: 1em;
  }