.CardContainer {
    display: flex;
    max-width: 250px;
    flex-flow: column;
    background: white;
    box-shadow: 2px 5px 5px black;
    margin: 20px 20px 20px 20px;
}

.Links {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.Links__link {
    width: 45%;
    margin: 5px 0 5px 0;
}