.rightside__ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.films {
    margin: 10px 0 10px 0;
}

.species {
    margin: 10px 0 10px 0;
}

.vehicles {
    margin: 10px 0 10px 0;
}

.starships {
    margin: 10px 0 10px 0;
}