 .Sub-Header {
  margin: 10px 0px 0px;
  padding: 0px;
  font-size: 14pt;
  color: rgb(14, 124, 158)
}

.Card-header {
  background-color: rgb(14, 124, 158);
  height: 20pt;
  width: 175px;
  margin: 10px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
  text-align: center;
}
.Card-row {
  display: flex;
  justify-content: flex-start;
	margin: 10px;
	/* border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc; */
	/* width: 70%; */
	/* padding: 20px; */
}

.Card-item {
  display: inline-block;
	margin: 10px;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;
	width: 150px;
  padding: 10px 20px 10px 20px;
  background: lightcyan;
  color: black;
}
.Card-body{
  background-color: rgba(81, 187, 236, 0.329);
  height: 150px;
  width: 175px;
  margin: 0px 10px 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 11pt;
  color: black;
  text-align: center;
}

.Data-point{

}

.View-header {
  background-color: rgb(182, 90, 90);
  height: 50px;
  padding: 20px;
  color: white;
} 