
.character-card {
    display: none;    
}

.selected {
    color: black;
    font-weight: bold;
    height: 100vh;
    padding: 10px;
    background: white;
    opacity: 0.4;
    
}

.profile-pic {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.field {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px 0;
}

.name {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}