.dog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dog{
    background-color: darkgrey;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 100%;
}

.attributes{
    padding: 15px;
}

.dog h1{
    background-color: black;
    color: white;
    padding: 15px;
}