*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    .App {
      text-align: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      background: #f6c5af;
     
      .card {
        display: flex;
        flex-flow: column wrap;
        justify-items: space-between;
        align-items: center;
        margin: 5%;
        border: 1px solid black;
        background: #d36060;
        border-radius: 10px;
        width: 800px;
        h1 {
          color: #7ea172;
          margin: 1%;
          font-size: 1rem;
        }
        h3 {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-items: center;
          color: black;
          font-size: .5rem;
        }
        .films{
          width: 20%;
        }
      }
    }
  }
  