.App {
    // text-align: center;

    
    
    .header-title{
      width: 100%;
      display: flex;

      .title{
        width: 80%;
        margin: 20px 10px;
        font-family: 'Archivo Black', sans-serif;
        font-size: 10rem;
        color: #ffd700;
      }
    } 
}
  // .Header {
  //   max-width: 100%;
  //   width: 100%;
  //   color: #443e3e;
  //   text-shadow: 1px 1px 5px #fff;
  //   padding
  //   font-size: 3rem; Safari */
  //   position: fixed;
  //   top: 0;
  //   background-color: #000;
  // }