.CardGroup {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .Card {
        display: inline-flex;
        
        width: 300px;
        max-width: 100%;
        background-color: lightblue;
       
        .header {
            margin-top: 0;
            padding-top: 25px;
            background: linear-gradient(#f8f8f8, #ffffff);
            color:blue;
        }
        .content {
            font-size: 0.8rem;
            line-height: 1.5;
            color:blue;
        }
    }
}