.photo-cards {
    .photo-card {
        width: 300px;
        max-width: 100%;
        background-color: lightblue;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        h2 {
            margin-top: 0;
            padding-top: 25px;
            background: linear-gradient(#f8f8f8, #ffffff);
        }
        .content {
            font-size: 0.8rem;
            line-height: 1.5;
        }
    }
}