.cardConatiner{
    margin: 0px auto;
    width: 1200px;
    margin: 0px auto;
 
}
.cardContainerItems{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 300px;
    height: 375px;
    margin: 25px auto;
}
.birthDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    
    width: 300px;
    height: 375px;
    margin: 25px auto;
    left: 60px;
    bottom: 3935px;
}

.birthText p{
    position: relative;
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.cardNameTitle{
    position: relative;
    bottom: 165px;
    right: 2px;
    width: 300px;
    border-bottom: 2px solid black;
    height: 35px;
    z-index: +1;


}

.cardNameTitle h1 {
    position: relative;
    bottom: 13px;
    font-size: 24px;
    font-weight: bold;
    Color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.charPictureContainer{
    display: flex;
    position: relative;
    width: 150px;
    height: 175px;
    border: 1px solid black;
}