.cardContainer {
    width: 80%;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    
   
}

.cardList {
    width: 30%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 1%;
    
}

.cardList p {
    margin: 3px 0;
    color: white;
    font-size: 15px;
}

.cardList h1 {
    color: white;
}