import Card from body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: gray;
  background-size: cover;
}
.all-cards-main {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.all-cards-sub {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-main {
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(192, 192, 192, 0.5);
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card-main h1 {
  border: 1px solid red;
  width: 100%;
}
.card-main:hover {
  background-color: rgba(192, 192, 192, 0.7);
}
.card-main .row {
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
}
.card-main .height {
  border: 1px solid purple;
  transform: rotateZ(270deg);
  display: flex;
  height: 15px;
  justify-content: center;
  align-items: center;
}
.card-stats {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.card-stats h2 {
  text-decoration: underline;
  margin: 0 0 10px 0;
}
.card-stats ul {
  padding: 0;
}
