/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: sans-serif;
  background-image: url("../sw-bg.jpg");
  background-size: cover;
}
.App {
  text-align: left;
}
.Header {
  font-size: 10vw;
  margin: 20px 0 15px 15px;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.char-list {
  width: 45%;
  position: relative;
  margin-left: 20px;
}
.char-list:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: white;
  opacity: 0.75;
  border-radius: 0 10px 10px 0;
}
.foreground {
  height: 90%;
  width: 90%;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.char {
  display: flex;
  justify-content: space-between;
  font-size: 2.75vw;
  line-height: 1.4;
}
.char-text {
  display: flex;
}
