.App {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.Refresh {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #0097e6;
  transition: all 500ms;
}

.Refresh:hover {
  transform: rotate(360deg);
  color: #00a8ff;
}
