.App {
  text-align: center;
  padding: 0px 10px;
}
.Header {
  font-size: 48px;
  font-family: "rig-solid-bold-reverse", sans-serif;
  font-style: normal;
  font-weight: 700;
}
/* write your parent styles in here for your App.js */
