.war-object{
    max-width: 50%;
    margin: 0 auto;
    border-radius: 2%;
    margin-bottom: 2%;
    background-color: black;
    color: white;
    opacity: 0.7;
    padding: 3% 0;
    box-shadow: 5px 5px 4px black;
}

.names{
    font-weight: bold;
    font-size: 2rem;
    color: purple;
    margin-bottom: 3%;
}

.titles{
    font-weight: bold;
    color: red;
}