.cardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1.5rem 1rem;
}

.card {
    width: 30rem;
    padding: 0.75rem;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.7);
    margin: 2rem 1rem;
}

.header {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 1rem 0;
}

.imgWrapper {
    /* padding: 0.5rem; */
    width: 100%;
}

.imgWrapper img {
    max-width: 100%;
}

.cardInfo {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin: 1rem 0;
}

.cardInfo p {
    line-height: 2rem;
}
