* {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 40px;
}

table,td {
    border: 2px;
    border-style: solid; 
    border-color: #fff;
    border-radius: none;
    background-color: #000;
    box-shadow:
        inset 0 0 10px #fff,
        inset 4px 0 10px rgb(255, 0, 43),
        inset -4px 0 10px rgb(0, 255, 115),
        inset 4px 0 20px rgb(255, 0, 43),
        inset -4px 0 20px rgb(0, 102, 255),
        0 0 20px #fff,
        -2px 0 10px rgb(0, 102, 255),
        2px 0 10px rgb(0, 255, 115);
    width: 250px;
    color: #999999;
}

td {
    padding: 7px;
}

caption{
    padding: 3px;
    font-size: 20px;
    color: #000;
}