@font-face {
  font-family: 'Jedi';
  src: url('../fonts/DeathStar.otf') format('woff2');
}

.cardCont{
display: flex;
justify-content: space-between;
width: 33%;


}
.card{
  background: white;
  opacity: 0.7;
  float: left;
     width: 300px;

     margin-left: 10px;
     margin-top: 10px;
     padding: 5px;

}


.title{
  font-size: 30px;
   font-family: Jedi;
   text-align: left;
   line-height: 35px;
   margin-left: 5px;


}

.stats{

   text-align: left;
      margin-left: 5px;
      font-size: 20px;
      text-transform: uppercase;
      padding-top: 10px;

}
