.char-card {
    background: #443e3e;
    width: 200px;
    text-align: left;
    line-height: 30px;   
    margin: 40px;
}

.char-card-contents {
    padding: 20px;
    color: white;
}

.char-card .char-card-contents h2 {
    font-size: 20px;
    text-shadow: 1px 1px 5px #fff;
}