.container {
  width: 800px;
  margin: auto;
  display: flex;
}

.card {
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
  width: 20%;
  min-width: 200px;;
  background-color: rgb(213, 211, 211);
 
}