.char-card {
    /* background: #443e3e; */
    background: linear-gradient(rgba(68,62,62, 1), rgba(68,62,62, .5));
    /* opacity: .8; */
    width: 250px;
    text-align: left;
    line-height: 30px;   
    margin: 40px;
}

.char-card-contents {
    padding: 20px;
    color: #D4C3BD;
}

.char-card .char-card-contents h2 {
    font-size: 20px;
    text-shadow: 1px 1px 5px #fff;
}