@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Saira+Extra+Condensed:500');
/* Minimal Reset */ 
html, body, div, h1, h2, p, section, audio {  
 margin: 0;  
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
} 
html {
  font-size: 24px;
} 
body {
  align-items: center;
  background: black;
  color: rgb(229, 177, 58);
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
  justify-content: center;
  line-height: 1.25;
  overflow: hidden;
}
div[id="root"] {
  width: 100%;
}

.container {
  height: 100vh;
  position: relative;
  width: 100%;
}
.intro {
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 200;
}
.intro p {
  color: rgb(75, 213, 238);
  font-size: 1.25rem;
}