@font-face {
  font-family:'STARWARS';
  src:url('./fonts/STARWARS.eot?') 
  format('eot'),
  url('./fonts/STARWARS.woff') 
  format('woff'),
  url('./fonts/STARWARS.TTF') 
  format('truetype'),
  url('./fonts/STARWARS.svg#STARWARS') 
  format('svg');
  font-weight: normal;
  font-style: normal;
}

.Titles {
  font-family: 'STARWARS';
}