.data-section {
    width:800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background:lightgray
}

.datam-section {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:lightcoral;
}