.pagenavigation-component {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

button {
    border: 3px solid black;
    background: aquamarine;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
} 