.custom-card {
    width: 30%;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 5px 0;
    padding: 0 5px;
}

.custom-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

