.characterContainer {
  width: 100%;
  height: 600px;
  color: white;
  background: black;
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.character {
  height: 50%;
  width: 100%;
  padding: 5px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.character > h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
.character > ul {
  width: 50%;
  margin: 0 auto;
  list-style: square;
}
.character > ul > li {
  text-align: left;
}
.character > img {
  height: auto;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media only screen and (max-width: 800px) {
  * {
      letter-spacing: 4px;
  }
  h1 {
      font-size: 5rem;
  }
  .characterContainer {
    flex-direction: column;
    flex-wrap: none;
    height: 100%;
  }
  .character{
      width: 100%;
      height: auto;
      margin-bottom: 25px;
      border-bottom: 2px solid silver;
      background-image: linear-gradient(black, lightgray);
  }
  .character > h2 {
      font-size: 3rem;
      margin-bottom: 20px;
  }
  .character > ul {
      margin-bottom: 20px;
  }
  .character > ul > li {
      font-size: 2.4rem;
      color: black;
      
  }
  .character > img {
      width: 80%;
      height: auto;
      margin: 0 auto;
      margin-bottom: 20px;
  }
}