.card{
    background-color: peachpuff;
    border-radius: 5px;
    opacity: 0.8;

    .text{
        color: black;
        font-weight: bolder;
        font-size: 18px;
        font-family: 'Gayathri', sans-serif;
    }
}