.starwars {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 10px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #0000003a;
    border-radius: 10px;
}

.card ul {
    text-align: left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
