@import url('https://fonts.googleapis.com/css?family=Cinzel|Vollkorn');


.App {
  font-family: 'Vollkorn', serif;
  text-align: center;
  width: 100%;
}


.char-wrapper {
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  text-shadow: 0 5px 5px rgba(0,0,0,.6);
  color: #fff;

}

.char-card {
  width: 30%;
  height:50vh;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.7);
  margin: 10px;
  padding: 10px;

}

.char-header{
	font-family: 'Cinzel', serif;
	width: 100%
}
