.characterList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
 }
 
 .character {
    background: rgb(178,102,255);
    border: 5px solid yellow;
    border-radius: 15px;
    width: 25%;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 

 .character h1 {
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
 }
 
 .characterDetails {
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    width: 80%;
 }
 
 .characterDetails div{
    margin-bottom: 5px;
 }