.character-card {
    background: #fff;
    border-radius: 2px;
    display: flex;
    max-height: 200px;
    margin: 1rem;
    padding: 1rem;
    width: 400px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}