.infoCard {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  /* width: 90%;
  margin: 0 auto; */
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 450px;
  width: 100%;
  margin: 30px auto;
  padding: 20px;
  color: white;
  background: #414242;
}

.card:hover {
  transform: scale(1.03);
}

.card p {
  text-align: left;
  text-transform: capitalize;
  margin: 10px auto;
}

.card h2 {
  border-bottom: 2px solid #44ceb8;
  padding-bottom: 10px;
  margin-bottom: 10px;
  /* width: 100%; */
}

.card h3 {
  font-weight: 300;
  /* text-transform: uppercase; */
}
