@import "./cards.less";

.container {
  box-sizing: border-box;
  font-size: 62.5%;
  display: flex;
  
  .container__logo {
   margin-top: 50px;
   
  }

  .App__cards {
    .cards__row1 {
      margin-top: 50px;
    }
  }
}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
