.cards .cards__row1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
.cards .cards__container {
  border: 2px solid #8a8a89;
  width: 40%;
  height: auto;
}
.App {
  text-align: center;
}
.App #logo {
  margin-top: 50px;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
