.cards .cards__container {
  border: 2px solid #8a8a89;
  width: 40%;
  height: auto;
}
.cards .cards__container .cards__container__name {
  font-size: 1.4rem;
  font-weight: bold;
}
.cards .cards__container .cards__container__text {
  font-size: 1rem;
}
.container {
  box-sizing: border-box;
  font-size: 62.5%;
  display: flex;
}
.container .container__logo {
  margin-top: 50px;
}
.container .App__cards .cards__row1 {
  margin-top: 50px;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
