@import "./cards.less";

.container {
  box-sizing: border-box;
  width: 100%;
  font-size: 62.5%;
  
  .container__logo {
   margin-top: 50px;
   display: flex;
   justify-content: center;
  }

}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
