.Character-Wrapper {
    width: 50%;
    margin: 1em auto;
    color: lime;
    background-color: black;
}

.card {
    background-color: black;
}
.card-img {
    width: 50%;
    /* margin: 1em auto; */
    /* margin-top: 0;
    margin-bottom: 0; */
}
.card-body {
    background-color: black;
}