
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
   border: solid black 1px;
   width: 700px;
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}