* {
    box-sizing: border-box;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
   border: solid #443e3e 1px;
   width: 270px;
   height: 250px;
   margin-bottom: 50px;
   margin-right: 13px;
   margin-left: 13px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: white;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: wheat;
    width: 85%;
    height: 80%;
}

.card-content{
    color: #443e3e;
    height: 225px;
    line-height: 0.75rem;
}