.display {
  background-color: white;
}

.display_data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile_name {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: goldenrod;
  padding: 10px;
}
